/*
*= require github
*= require pygments
*= require main
*= require codemirror
*= require codemirror/themes/pastel-on-dark
*= require_self
*/

.CodeMirror-scroll {
  min-height: 100%;
}

.cm-s-pastel-on-dark.CodeMirror {
  font-family: 'Menlo', monospace !important;
  font-size: 16px;
  color: #ddd;
  padding: 30px;
  .cm-header {
    color: #d00;
  }
}

iframe.expanded {
  height: 90%;
}
