/*
*= require ./markdown
*= require ./pygments
*= require_self
*/

body {
  box-sizing: border-box;
  width: 300mm;
  font-family: "Helvetica Neue", sans-serif;
  padding: 20mm;
  margin: 0;
}

.left, .right {
  display: none;
}
